<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FabricTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A0CE5FB1C1BC9F300714E89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A0CE61A1C1BC9F300714E89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A0CE6251C1BC9F300714E89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
